// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inverse {
	padding: 1%;
	border-radius: 0;
}

.fotorama__img {

	top: 0px !important;
}

.fotorama__wrap{
  margin: 0 auto;
}

@media (max-width: 767px){
	.nav-pills>li {
		float: none;
	}
	.nav-pills {
		text-align: center;
	}

	.header h1 {
		letter-spacing: 5px;
		font-size: 280%;
	}
	.header {
		text-align: center;
	}
}